
<main id="mainContainer" class="text-center" >
<p>Are you sure?</p>
<button id="deleteAccount">Delete Account</button>
</main>
<script>
        const deleteAccount=document.querySelector("#deleteAccount")
        deleteAccount.addEventListener("click", ()=>{
        
           fetch("/auth/delete",{
             method: "POST",
             headers: {
               "content-type": "application/json",
               "Authorization": "Bearer " + localStorage.getItem("AuthAccessToken")
             }
           }).then(res=>res.json())
           .then(data=>{
          
                console.log(data)
                if(data.error){
                   alert("anexpected error")
                 return
                }
                localStorage.removeItem("AuthAccessToken", data.accessToken)
                localStorage.removeItem("AuthRefreshToken", data.refreshToken)
                location.href="/"
           })
           
       })
</script>     
      
